body{
    background-image: url('images/restaurants/la-note-enchantee.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 10vw;
    margin: 0%;
}

p{
    font-family: 'Roboto', sans-serif;
}

/*header de la page*/
header{
    display: flex;
}

header a{
    text-decoration: none;
    color: black;
}

header h1{
    margin: 0%;
    width: 99vw;
}

header h1 i{
    margin: 0%;
    margin-right: 18vw;
    margin-left: 8vw;
}

/*contenu principal*/

main{
    margin-top: 56%;
    background-color: #f6f6f6;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 3%;
}

/* titre principal*/

h1{
font-family: 'Shrikhand', cursive;
font-size: 7vw;
margin-left: 5%;
}

h1 i{
    margin-left: 13%;
}

/*titre secondaire*/

.main_title{
    margin-left: 5%;
    font-size: 4vw;
    border-bottom: 3px solid #99E2D0;
    width: 11%;
    padding-bottom: 5px;
}

/*repas*/

.starters_meal, .course_meal, .dessert_meal{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 70px;
    box-shadow: 1px 1px 10px grey;
    border-radius: 15px;
    width: 89vw;
    margin-left: 5%;
    background-color: white;
}

.starters_meal :nth-child(1), .course_meal :nth-child(1), .dessert_meal :nth-child(1){
    font-weight: bold;
}

.meal{
    margin: 0%;
    margin-left: 2%;
    width: 75vw;
    height: 20px;
    margin-top: 9px;

}

.price{
    height: 20;
    margin-top: 9px;
    font-weight: bold;
}

/*btn commander*/

button{
    width: 43vw;
    display: block;
    margin: auto;
    background: linear-gradient(#FF79DA,#9356DC);
    color: white;
    font-size: 4vw;
    padding: 3%;
    border-radius: 25px;
    border: #f6f6f6;
    box-shadow: 1px 1px 10px grey;
}

/*pied de page*/

footer{
    margin-top: 50px;
    background-color: #353535;
    padding-left: 5%;
    padding-top: 5%;
    height: 200px;
}
footer h2{
    font-family: 'shrikhand';
    font-weight:lighter;
    color: white;
    font-size: 5vw;
    margin: 0%;
}

footer ul{
    padding-left: 0%;
}

footer ul li{
    list-style-type: none;
    color: white;
    margin-top: 10px;
    font-size: 4vw;
}

footer i{
    margin-right: 10px;
}

